<extend name="Common:base" />

<block name="title"><title>收货地址 - 爱读书店</title></block>

<block name="stylesheet">
<link rel="stylesheet" href="__CSS__/address.css" id="colors">
</block>

<block name="javascript">
<script>
  var subregion = "{:U('Cart/subregion', '', '')}";
</script>
<script src="__JS__/address.js"></script>
</block>

<block name="breadcrumbs">
<!-- Titlebar -->
<section class="titlebar">
  <div class="container">
    <div class="sixteen columns">
      <h2>收货地址</h2>

      <nav id="breadcrumbs">
        <ul>
          <li><a href="{:U('Index/index')}">首页</a></li>
          <li><a href="{:U('Account/index')}">个人中心</a></li>
          <li>收货地址</li>
        </ul>
      </nav>

    </div>
  </div>
</section>
</block>

<block name="main-content">
<!-- Container -->
<div class="container">

  <div class="fourteen columns margin-bottom-25 centered">
    <h3 class="headline">收货地址</h3><span class="line" style="margin-bottom:20px;"></span>
    <div class="clearfix"></div>
    <form method="post" action="{:U('Account/address')}" class="address-content">

      <div class="fullwidth" id="address">
        <div class="one-third column">
          <label for="province">省<span class="required">*</span</label>
          <select name="province" id="province" class="address-select-input">
            <foreach name="province" item="p">
            <option value="{$p['id']}" id="{$p.name}">{$p.name}</option>
            </foreach>
          </select>
        </div>
        <div class="one-third column">
          <label for="city">市/区<span class="required">*</span</label>
          <select name="city" id="city" class="address-select-input">
            <option value="">请选择市/区</option>
          </select>
        </div>
        <div class="one-third column">
          <label for="country">县/区<span class="required">*</span</label>
          <select name="country" id="country" class="address-select-input">
            <option value="">请选择县/区</option>
          </select>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="two-thirds column">
        <label for="street">街道地址<span class="required">*</span></label>
        <input type="text" name="street" id="street" value="" placeholder="街道地址" />
      </div>
      <div class="one-third column">
        <label for="zipcode">邮政编码<span class="required">*</span></label>
        <input type="text" name="zipcode" id="zipcode" value="" placeholder="邮政编码" />
      </div>

      <div class="eight columns">
        <label for="receiver">收货人<span class="required">*</span></label>
        <input type="text" class="input-text" name="receiver" id="receiver" value="" placeholder="收货人" />
      </div>
      <div class="eight columns">
        <label for="mobile">联系电话<span class="required">*</span></label>
        <input type="text" class="input-text" name="mobile" id="mobile" value="" placeholder="联系电话" />
      </div>

      <div class="clearfix"></div>

      <p class="form-row">
      <input type="submit" class="button" value="新建地址" />
      </p>
    </form>
  </div>

</div>
</block>
