<extend name="Common:base" />

<block name="title"><title>密码重置 - 爱读书店</title></block>

<block name="javascript">
<script src="__JS__/login.js"></script>
</block>

<block name="breadcrumbs">
<!-- Titlebar -->
<section class="titlebar">
  <div class="container">
    <div class="sixteen columns">
      <h2>密码重置</h2>

      <nav id="breadcrumbs">
        <ul>
          <li><a href="{:U('Index/index')}">首页</a></li>
          <li>密码重置</li>
        </ul>
      </nav>

    </div>
  </div>
</section>
</block>

<block name="main-content">
<!-- Container -->
<div class="container">
  <div class="six columns centered">
  
      <!-- Reset -->
      <div class="tab-content" id="reset">
        <h3 class="headline">密码重置</h3><span class="line" style="margin-bottom:20px;"></span><div class="clearfix"></div>
        <form method="post" class="login"  action="{:U('Account/resetPassword')}">
          <p class="form-row form-row-wide">
          <label for="username">用户名称: <span class="required">*</span></label>
          <input type="text" class="input-text" name="username" id="username" value="" placeholder="用户名称" />
          </p>
          <p class="form-row form-row-wide">
          <label for="security">密码保护: <span class="required">*</span></label>
          <input class="input-text" type="text" name="security" id="security" placeholder="密码保护字符串" />
          </p>
          <p class="form-row">
          <input type="submit" class="button" name="login" value="提交重置请求" />
          <p class="lost_password">若您连密码保护都忘了, 可以<a href="mailto:1005411480a@gmail.com" >联系管理员</a>重置密码
          </p>
        </form>
    </div>  <!-- /Reset -->
    
  </div>
</div>
</block>
