<!DOCTYPE html>
<html>
  <head>
    <title>新增结点</title>
  </head>
  <body>
    <form action="{:U('Rbac/newNode')}" method="post">
      <label>英文标识</label><input type="text" name="name" placeholder="英文标识"/><br />
      <label>中文标识</label><input type="text" name="title" placeholder="中文标识"/><br />
      <label>开启状态</label>
      <input type="radio" name="status" value="0" checked="checked" /><span>开</span>
      <input type="radio" name="status" value="1" /><span>关</span> <br />
      <label>详细描述</label><textarea name="remark"></textarea><br />
      <label>排序方式</label><input type="number" name="sort" placeholder="排序方式"/><br />
      <input type="hidden" name="pid" value="{$pid}" />
      <input type="hidden" name="level" value="{$level}" />
      <input type="submit" value="登录" /><br />
    </form>
  </body>
</html>
