<extend name="Common:base" />

<block name="title">
<title>角色(用户组)列表</title>
</block>

<block name="main-content">

    <div class="col-sm-9 col-md-10 main">
      <table class="table table-striped">
        <tr>
          <th>角色编号</th>
          <th>英文标识</th>
          <th>中文标识</th>
          <th>父级角色</th>
          <th>当前状态</th>
        </tr>
        <foreach name="role_list" item="u">
        <tr>
          <td>{$u.id}</td>
          <td><a href="{:U('Rbac/roleDetail' , array('id' => $u['id']))}">{$u.name}</a></td>
          <td>{$u.remark}</td>
          <td>{$u.pid|get_role_name=###, $role_list}</td>
          <td>
            <if condition="$u['status'] eq 1">
            开启
            <else />
            关闭
            </if>
          </td>
        </tr>
        </foreach>
      </table>
      {$pages}
    </div>

</block>
