<include file="common:header" />
<title>图书列表</title>
<include file="common:top" />

<div class="container-fluid">
  <div class="row">
    <include file="common:left" />
    <div class="col-sm-9 col-md-10 main">

      <table class="table table-striped">
        <tr>
          <th>书名</th>
          <th>外文名称</th>
          <th>作者</th>
          <th>译者</th>
          <th>出版社</th>
          <th>ISBN</th>
        </tr>
        <foreach name="book_list" item="bl">
        <tr>
          <td><a href="{:U('Book/bookDetail', array('bid' => $bl['bid']))}">{$bl.title}</a></td>
          <td>{$bl.title_en}</td>
          <foreach name="bl.author" item="a">
          <if condition="$a['author_role'] == 1">
          <td>[{$a.nation_remark}]{$a.author_name}</td>
          </if>
          </foreach>
          <foreach name="bl.author" item="a">
          <if condition="$a['author_role'] == 2">
          <td>[{$a.nation_remark}]{$a.author_name}</td>
          </if>
          </foreach>
          <td>{$bl.publisher}</td>
          <td>{$bl.isbn}</td>
        </tr>
        </foreach>
      </table>
      {$pages}
    </div>

  </div>
</div>
<include file="common:footer" />
