<extend name="Common:base" />

<block name="title">
<title>后台管理首页</title>
</block>

<block name="main-content">

        <div class="col-sm-9 col-md-10 main">
          <div class="alert alert-success" role="alert">
            <strong>登录成功</strong> <br /><br /><br />
            <div class="alert alert-info" role="alert">
              <strong>上次登录信息</strong><br /> Time: {$last_login_time|date="Y-m-d H:i:s", ###} <br /> IP: {$last_login_ip}
            </div>
          </div>      
        </div>
</block>
