<div class="container" >

  <!-- Headline -->
  <div class="sixteen columns" >
    <h3 class="headline">浏览说明</h3>
    <span class="line margin-bottom-30"></span>
  </div>

  <!-- Post #1 -->
  <div class="eight columns">
    这个站点只是一个展示站点, 功能有:
    <ul class="list-4 color">
        <li>用户注册, 用户登录</li>
        <li>收货地址管理, 个人信息管理</li>
        <li>商品分类浏览, 商品详情页面</li>
        <li>加入购物车按钮, 购物车详细信息, 下单功能</li>
        <li>订单状态查询</li>
        <li>商品评价功能</li>
    </ul>
   </div>



  <!-- Post #1 -->
  <div class="eight columns">
    配套的还有一个简单的后台, 功能有:
    <ul  class="list-4 color">
        <li>网店员工管理(RBAC)</li>
        <li>商品上架 + 信息修改</li>
    </ul>
  </div>
  
  
  	<div class="sixteen columns">
	
		<!-- Headline -->
		<h3 class="headline">请注意</h3><span class="line margin-bottom-25"></span><div class="clearfix"></div>
		
		<p>这个站点只是<span class="highlight color">展示功能</span>的站点. 外观上<span class="highlight gray">没有</span>
		追求太多, 甚至图片都没有更换(前端展示是<span class="highlight gray">套用别人的模板</span>). 
		还有就是, 许多功能是需要<span class="highlight light">注册</span>以后再体验的. 再加上网络环境不太好(服务器是Red Hat的
		OpenShift云平台免费版本), 访问起来会有一点慢. 请耐性等待.
		</p>

	</div>
</div>