<div class="container" >

  <div class="one-third column">
    <a href="index.html#" class="img-caption" >
      <figure>
        <img src="__IMG__/featured_img_1.jpg" alt="" />
        <figcaption>
          <h3>Men's Shirts</h3>
          <span>25% Off Summer Styles</span>
        </figcaption>
      </figure>
    </a>
  </div>

  <div class="one-third column">
    <a href="index.html#" class="img-caption" >
      <figure>
        <img src="__IMG__/featured_img_2.jpg" alt="" />
        <figcaption>
          <h3>Running Shoes</h3>
          <span>Sports Discount</span>
        </figcaption>
      </figure>
    </a>
  </div>

  <div class="one-third column">
    <a href="index.html#" class="img-caption" >
      <figure>
        <img src="__IMG__/featured_img_3.jpg" alt="" />
        <figcaption>
          <h3>Winter Jackets</h3>
          <span>End-of Season Sales</span>
        </figcaption>
      </figure>
    </a>
  </div>

</div>
