<extend name="Common:base" />

<block name="title"><title>未找到商品 - 爱读书店</title></block>

<block name="breadcrumbs">
<!-- Titlebar -->
<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h2>未找到商品</h2>

            <nav id="breadcrumbs">
                <ul>
                    <li><a href="{:U('Index/index')}">首页</a></li>
                    <li><a href="{:U('Product/index')}">全部商品</a></li>
                    <li>未找到商品</li>
                </ul>
            </nav>

        </div>
    </div>
</section>
</block>

<block name="main-content">

<!-- Container -->
<div class="container">

	<div class="sixteen columns">
		<section id="not-found">
			<h2>404 <i class="fa fa-question-circle"></i></h2>
			<p>很抱歉您请求的商品不存在, 此商品可能已经下架</p>
		</section>
	</div>

</div>
<!-- Container / End -->

<div class="margin-top-50"></div>

</block>