<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>Trizzy</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/colors/green.css" id="colors">
 
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body class="boxed">
<div id="wrapper">


<!-- Top Bar
================================================== -->
<div id="top-bar">
	<div class="container">

		<!-- Top Bar Menu -->
		<div class="ten columns">
			<ul class="top-bar-menu">
				<li><i class="fa fa-phone"></i> (564) 123 4567</li>
				<li><i class="fa fa-envelope"></i> <a href="checkout-delivery.html#">mail@example.com</a></li>
				<li>
					<div class="top-bar-dropdown">
						<span>English</span>
						<ul class="options">
							<li><div class="arrow"></div></li>
							<li><a href="checkout-delivery.html#">English</a></li>
							<li><a href="checkout-delivery.html#">Polish</a></li>
							<li><a href="checkout-delivery.html#">Deutsch</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div class="top-bar-dropdown">
						<span>USD</span>
						<ul class="options">
							<li><div class="arrow"></div></li>
							<li><a href="checkout-delivery.html#">USD</a></li>
							<li><a href="checkout-delivery.html#">PLN</a></li>
							<li><a href="checkout-delivery.html#">EUR</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		
		<!-- Social Icons -->
		<div class="six columns">
			<ul class="social-icons">
				<li><a class="facebook" href="checkout-delivery.html#"><i class="icon-facebook"></i></a></li>
				<li><a class="twitter" href="checkout-delivery.html#"><i class="icon-twitter"></i></a></li>
				<li><a class="dribbble" href="checkout-delivery.html#"><i class="icon-dribbble"></i></a></li>
				<li><a class="gplus" href="checkout-delivery.html#"><i class="icon-gplus"></i></a></li>
				<li><a class="pinterest" href="checkout-delivery.html#"><i class="icon-pinterest"></i></a></li>
			</ul>
		</div>

	</div>
</div>

<div class="clearfix"></div>


<!-- Header
================================================== -->
<div class="container">

	<!-- Logo -->
	<div class="four columns">
			<div id="logo">
				<h1><a href="index.html"><img src="images/logo.png" alt="Trizzy" /></a></h1>
			</div>
	</div>
	

	<!-- Additional Menu -->
	<div class="twelve columns">
		<div id="additional-menu">
			<ul>
				<li><a href="shopping-cart.html">Shopping Cart</a></li>
				<li><a href="wishlist.html">WishList <span>(2)</span></a></li>
				<li><a href="checkout-billing-details.html">Checkout</a></li>
				<li><a href="my-account.html">My Account</a></li>
			</ul>
		</div>
	</div>

	
	<!-- Shopping Cart -->
	<div class="twelve columns">

		<div id="cart">
				
			<!-- Button -->
			<div class="cart-btn">
				<a href="checkout-delivery.html#" class="button adc">$178.00</a>
			</div>

			<div class="cart-list">

			<div class="arrow"></div>

				<div class="cart-amount">
					<span>2 items in the shopping cart</span>
				</div>

					<ul>
						<li>
							<a href="checkout-delivery.html#"><img src="images/small_product_list_08.jpg" alt="" /></a>
							<a href="checkout-delivery.html#">Converse All Star Trainers</a>
							<span>1 x $79.00</span>
							<div class="clearfix"></div>
						</li>

						<li>
							<a href="checkout-delivery.html#"><img src="images/small_product_list_09.jpg" alt="" /></a>
							<a href="checkout-delivery.html#">Tommy Hilfiger <br /> Shirt Beat</a>
							<span>1 x $99.00</span>
							<div class="clearfix"></div>
						</li>
					</ul>

				<div class="cart-buttons button">
					<a href="shopping-cart.html" class="view-cart" ><span data-hover="View Cart"><span>View Cart</span></span></a>
					<a href="checkout-billing-details.html" class="checkout"><span data-hover="Checkout">Checkout</span></a>
				</div>
				<div class="clearfix">

				</div>
			</div>

		</div>

		<!-- Search -->
		<nav class="top-search">
			<form action="checkout-delivery.html#" method="get">
				<button><i class="fa fa-search"></i></button>
				<input class="search-field" type="text" placeholder="Search" value="" size="5" maxlength="4"/>
			</form>
		</nav>

	</div>

</div>


<!-- Navigation
================================================== -->
<div class="container">
	<div class="sixteen columns">

		<a href="checkout-delivery.html#menu" class="menu-trigger"><i class="fa fa-bars"></i> Menu</a>

		<nav id="navigation">
			<ul class="menu" id="responsive">
			  
				<li><a href="index.html" class="homepage">Home</a></li>
				

				<li class="dropdown">
					<a href="checkout-delivery.html#" class="current">Shop</a>
					<ul>
						<li><a href="shop-with-sidebar.html">Shop With Sidebar</a></li>
						<li><a href="shop-full-width.html">Shop Full Width</a></li>
						<li><a href="checkout-billing-details.html">Checkout Pages</a></li>
						<li><a href="shop-categories-grid.html">Categories Grid</a></li>
						<li><a href="single-product-page.html">Single Product Page</a></li>
						<li><a href="variable-product-page.html">Variable Product Page</a></li>
						<li><a href="wishlist.html">Wishlist Page</a></li>
						<li><a href="shopping-cart.html">Shopping Cart</a></li>
					</ul>
				</li>


				<li>
					<a href="checkout-delivery.html#">Features</a>
					<div class="mega">
						<div class="mega-container">

							<div class="one-column">
								<ul>
									<li><span class="mega-headline">Example Pages</span></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="about.html">About Us</a></li>
									<li><a href="services.html">Services</a></li>
									<li><a href="faq.html">FAQ</a></li>
									<li><a href="404-page.html">404 Page</a></li>
								</ul>
							</div>

							<div class="one-column">
								<ul>
									<li><span class="mega-headline">Featured Pages</span></li>
									<li><a href="index-2.html">Business Homepage</a></li>
									<li><a href="shop-with-sidebar.html">Default Shop</a></li>
									<li><a href="blog-masonry.html">Masonry Blog</a></li>
									<li><a href="variable-product-page.html">Variable Product</a></li>
									<li><a href="portfolio-dynamic-grid.html">Dynamic Grid</a></li>
								</ul>
							</div>

							<div class="one-column hidden-on-mobile">
								<ul>
									<li><span class="mega-headline">Paragraph</span></li>
									<li><p>This <a href="checkout-delivery.html#">Mega Menu</a> can handle everything. Lists, paragraphs, forms...</p></li>
								</ul>
							</div>

							<div class="one-fourth-column hidden-on-mobile">
								<a href="checkout-delivery.html#" class="img-caption margin-reset">
									<figure>
										<img src="images/menu-banner-01.jpg" alt="" />
										<figcaption>
											<h3>Jeans</h3>
											<span>Pack for Style</span>
										</figcaption>
									</figure>
								</a>
							</div>

							<div class="one-fourth-column hidden-on-mobile">
								<a href="checkout-delivery.html#" class="img-caption margin-reset">
									<figure>
										<img src="images/menu-banner-02.jpg" alt="" />
										<figcaption>
											<h3>Sunglasses</h3>
											<span>Nail the Basics</span>
										</figcaption>
									</figure>
								</a>
							</div>

							<div class="clearfix"></div>
						</div>
					</div>
				</li>


				<li class="dropdown">
					<a href="checkout-delivery.html#">Shortcodes</a>
					<ul>
						<li><a href="elements.html">Elements</a></li>
						<li><a href="typography.html">Typography</a></li>
						<li><a href="pricing-tables.html">Pricing Tables</a></li>
						<li><a href="icons.html">Icons</a></li>
					</ul>
				</li>


				<li class="dropdown">
					<a href="checkout-delivery.html#">Portfolio</a>
					<ul>
						<li><a href="portfolio-3-columns.html">3 Columns</a></li>
						<li><a href="portfolio-4-columns.html">4 Columns</a></li>
						<li><a href="portfolio-dynamic-grid.html">Dynamic Grid</a></li>
						<li><a href="single-project.html">Single Project</a></li>
					</ul>
				</li>
				

				<li class="dropdown">
					<a href="checkout-delivery.html#">Blog</a>
					<ul>
						<li><a href="blog-standard.html">Blog Standard</a></li>
						<li><a href="blog-masonry.html">Blog Masonry</a></li>
						<li><a href="blog-single-post.html">Single Post</a></li>
					</ul>
				</li>


				<li class="demo-button">
				  <a href="checkout-delivery.html#">Get This Theme</a>
				</li> 

			</ul>
		</nav>
	</div>
</div>


<!-- Titlebar
================================================== -->
<section class="titlebar">
<div class="container">
	<div class="sixteen columns">
		<h2>Checkout</h2>
		
		<nav id="breadcrumbs">
			<ul>
				<li><a href="checkout-delivery.html#">Home</a></li>
				<li><a href="checkout-delivery.html#">Shop</a></li>
				<li><a href="checkout-delivery.html#">Checkout</a></li>
				<li>Delivery</li>
			</ul>
		</nav>
	</div>
</div>
</section>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	<div class="eight columns">


	<!-- Checkout Content -->
	<a href="checkout-billing-details.html"><div class="checkout-section"><span>1</span> Billing Details <strong><i class="fa fa-edit"></i>Edit</strong> </div></a>
	<div class="checkout-content">
	
	<div class="four columns alpha">
		<ul class="address-review">
			<li><strong>Billing Address</strong></li>
			<li>Mr. Walter C. Brown</li>
			<li>49 Featherstone Street</li>
			<li>London</li>
			<li>EC1Y 8SY</li>
			<li>United Kingdom</li>
		</ul>
	</div>
	<div class="four columns alpha omega">
		<ul class="address-review">
			<li><strong>Shipping Address</strong></li>
			<li>Same as Billing Address</li>
		</ul>
	</div>
	<div class="clearfix"></div>
	</div>
	

	<div class="checkout-section active"><span>2</span> Delivery</div>
		<div class="checkout-delivery active">

		<ul class="delivery-options">
			<li><strong>Choose delivery option below</strong></li>
			<li>
			<form action="checkout-delivery.html#">
				<div class="delivery-option">
					<input id="shipping-address" type="radio" name="shipping-address" value="1" />
					<label for="shipping-address" class="checkbox">Standard Delivery <span>$9.99 <abbr class="sep">|</abbr> Delivery in 3 to 5 Business Days</span></label>
				</div>

				<div class="delivery-option">
					<input id="shipping-address-2" type="radio" name="shipping-address" value="1" />
					<label for="shipping-address-2" class="checkbox">Express Delivery <span>$14.99 <span class="sep">|</span> Delivery in 1 to 2 Business Days</span></label>
				</div>
				<div class="clearfix"></div>
			</form>
			</li>
		</ul>

		</div>
		<div class="clearfix"></div>
		<a href="checkout-payment-order-review.html" class="continue button color">Continue</a>

			<a href="checkout-payment-order-review.html"><div class="checkout-section"><span>3</span> Payment & Order Review</div></a>

		</div>
		<!-- CHeckout Content / End -->


	<!-- Checkout Cart -->
	<div class="eight columns">
		<div class="checkout-section cart">Shopping Cart</div>
		<!-- Cart -->
		<table class="checkout cart-table responsive-table">

			<tr>
				<th class="hide-on-mobile">Item</th>
				<th></th>
				<th>Price</th>
				<th>Qty</th>
				<th>Total</th>
			</tr>
					
			<!-- Item #1 -->
			<tr>
				<td class="hide-on-mobile"><img src="images/small_product_list_08.jpg" alt=""/></td>
				<td class="cart-title"><a href="checkout-delivery.html#">Converse All Star Trainers</a></td>
				<td>$79.00</td>
				<td class="qty-checkout">1</td>
				<td class="cart-total">$79.00</td>
			</tr>

			<!-- Item #2 -->
			<tr>
				<td class="hide-on-mobile"><img src="images/small_product_list_09.jpg" alt=""/></td>
				<td class="cart-title"><a href="checkout-delivery.html#">Wool Two-Piece Suit</a></td>
				<td>$99.00</td>
				<td class="qty-checkout">1</td>
				<td class="cart-total">$99.00</td>
			</tr>

			</table>

			<!-- Apply Coupon Code / Buttons -->
			<table class="cart-table bottom">

				<tr>
				<th class="checkout-totals">
					<div class="checkout-subtotal">
						Subtotal: <span>$178.00</span>
					</div>
				</th>
				</tr>

			</table>
	</div>
	<!-- Checkout Cart / End -->


</div>
<!-- Container / End -->

<div class="margin-top-50"></div>


<!-- Footer
================================================== -->
<div id="footer">

	<!-- Container -->
	<div class="container">

		<div class="four columns">
			<img src="images/logo-footer.png" alt="" class="margin-top-10"/>
			<p class="margin-top-15">Nulla facilisis feugiat magna, ut molestie metus hendrerit vitae. Vivamus tristique lectus at varius rutrum. Integer lobortis mauris non consectetur eleifend.</p>
		</div>

		<div class="four columns">
		
			<!-- Headline -->
			<h3 class="headline footer">Customer Service</h3>
			<span class="line"></span>
			<div class="clearfix"></div>
			
			<ul class="footer-links">
				<li><a href="checkout-delivery.html#">Order Status</a></li>
				<li><a href="checkout-delivery.html#">Payment Methods</a></li>
				<li><a href="checkout-delivery.html#">Delivery & Returns</a></li>
				<li><a href="checkout-delivery.html#">Privacy Policy</a></li>
				<li><a href="checkout-delivery.html#">Terms & Conditions</a></li>
			</ul>

		</div>

		<div class="four columns">

			<!-- Headline -->
			<h3 class="headline footer">My Account</h3>
			<span class="line"></span>
			<div class="clearfix"></div>
			
			<ul class="footer-links">
				<li><a href="checkout-delivery.html#">My Account</a></li>
				<li><a href="checkout-delivery.html#">Order History</a></li>
				<li><a href="checkout-delivery.html#">Wish List</a></li>
			</ul>

		</div>

		<div class="four columns">

			<!-- Headline -->
			<h3 class="headline footer">Newsletter</h3>
			<span class="line"></span>
			<div class="clearfix"></div>
			<p>Sign up to receive email updates on new product announcements, gift ideas, special promotions, sales and more.</p>

			<form action="checkout-delivery.html#" method="get">
				<button class="newsletter-btn" type="submit">Join</button>
				<input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
			</form>
		</div>

	</div>
	<!-- Container / End -->

</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

	<!-- Container -->
	<div class="container">

		<div class="eight columns">© Copyright 2014 by <a href="checkout-delivery.html#">trizzy</a>. All Rights Reserved.</div>
		<div class="eight columns">
			<ul class="payment-icons">
				<li><img src="images/visa.png" alt="" /></li>
				<li><img src="images/mastercard.png" alt="" /></li>
				<li><img src="images/skrill.png" alt="" /></li>
				<li><img src="images/moneybookers.png" alt="" /></li>
				<li><img src="images/paypal.png" alt="" /></li>
			</ul>
		</div>

	</div>
	<!-- Container / End -->

</div>
<!-- Footer Bottom / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="checkout-delivery.html#"></a></div>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>


<!-- Style Switcher
================================================== -->
<script src="scripts/switcher.js"></script>

<div id="style-switcher">
	<h2>Style Switcher <a href="checkout-delivery.html#"></a></h2>
	
	<div><h3>Predefined Colors</h3>
		<ul class="colors" id="color1">
			<li><a href="checkout-delivery.html#" class="green" title="Green"></a></li>
			<li><a href="checkout-delivery.html#" class="blue" title="Blue"></a></li>
			<li><a href="checkout-delivery.html#" class="orange" title="Orange"></a></li>
			<li><a href="checkout-delivery.html#" class="navy" title="Navy"></a></li>
			<li><a href="checkout-delivery.html#" class="yellow" title="Yellow"></a></li>
			<li><a href="checkout-delivery.html#" class="peach" title="Peach"></a></li>
			<li><a href="checkout-delivery.html#" class="beige" title="Beige"></a></li>
			<li><a href="checkout-delivery.html#" class="purple" title="Purple"></a></li>
			<li><a href="checkout-delivery.html#" class="celadon" title="Celadon"></a></li>
			<li><a href="checkout-delivery.html#" class="pink" title="Pink"></a></li>
			<li><a href="checkout-delivery.html#" class="red" title="Red"></a></li>
			<li><a href="checkout-delivery.html#" class="brown" title="Brown"></a></li>
			<li><a href="checkout-delivery.html#" class="cherry" title="Cherry"></a></li>
			<li><a href="checkout-delivery.html#" class="cyan" title="Cyan"></a></li>
			<li><a href="checkout-delivery.html#" class="gray" title="Gray"></a></li>
			<li><a href="checkout-delivery.html#" class="darkcol" title="Dark"></a></li>
		</ul>
		
		<h3>Layout Style</h3>
		<div class="layout-style">
			<select id="layout-style"> 
				<option value="1">Boxed</option>
				<option value="2">Wide</option>
			</select>
		</div>
	
	<h3>Background Image</h3>
		 <ul class="colors bg" id="bg">
			<li><a href="checkout-delivery.html#" class="bg1"></a></li>
			<li><a href="checkout-delivery.html#" class="bg2"></a></li>
			<li><a href="checkout-delivery.html#" class="bg3"></a></li>
			<li><a href="checkout-delivery.html#" class="bg4"></a></li>
			<li><a href="checkout-delivery.html#" class="bg5"></a></li>
			<li><a href="checkout-delivery.html#" class="bg6"></a></li>
			<li><a href="checkout-delivery.html#" class="bg7"></a></li>
			<li><a href="checkout-delivery.html#" class="bg8"></a></li>
			<li><a href="checkout-delivery.html#" class="bg9"></a></li>
			<li><a href="checkout-delivery.html#" class="bg10"></a></li>
			<li><a href="checkout-delivery.html#" class="bg11"></a></li>
			<li><a href="checkout-delivery.html#" class="bg12"></a></li>
			<li><a href="checkout-delivery.html#" class="bg13"></a></li>
			<li><a href="checkout-delivery.html#" class="bg14"></a></li>
			<li><a href="checkout-delivery.html#" class="bg15"></a></li>
			<li><a href="checkout-delivery.html#" class="bg16"></a></li>
		</ul>
		
	<h3>Background Color</h3>
		<ul class="colors bgsolid" id="bgsolid">
			<li><a href="checkout-delivery.html#" class="green-bg" title="Green"></a></li>
			<li><a href="checkout-delivery.html#" class="blue-bg" title="Blue"></a></li>
			<li><a href="checkout-delivery.html#" class="orange-bg" title="Orange"></a></li>
			<li><a href="checkout-delivery.html#" class="navy-bg" title="Navy"></a></li>
			<li><a href="checkout-delivery.html#" class="yellow-bg" title="Yellow"></a></li>
			<li><a href="checkout-delivery.html#" class="peach-bg" title="Peach"></a></li>
			<li><a href="checkout-delivery.html#" class="beige-bg" title="Beige"></a></li>
			<li><a href="checkout-delivery.html#" class="purple-bg" title="Purple"></a></li>
			<li><a href="checkout-delivery.html#" class="red-bg" title="Red"></a></li>
			<li><a href="checkout-delivery.html#" class="pink-bg" title="Pink"></a></li>
			<li><a href="checkout-delivery.html#" class="celadon-bg" title="Celadon"></a></li>
			<li><a href="checkout-delivery.html#" class="brown-bg" title="Brown"></a></li>
			<li><a href="checkout-delivery.html#" class="cherry-bg" title="Cherry"></a></li>
			<li><a href="checkout-delivery.html#" class="cyan-bg" title="Cyan"></a></li>
			<li><a href="checkout-delivery.html#" class="gray-bg" title="Gray"></a></li>
			<li><a href="checkout-delivery.html#" class="dark-bg" title="Dark"></a></li>
		</ul>
	</div>
	
	<div id="reset"><a href="checkout-delivery.html#" class="button color">Reset</a></div>
		
</div>


</body>
</html>