.one-third {
    width: 30% !important;
}
.two-thirds.column {
    width: 60% !important;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
    width: 97%;
    margin: 0px 0px 15px;
    padding: 10px 12px;
}

select {
    cursor: pointer;
}

.eight.columns {
    width: 45% !important;
}