.dl-horizontal dt {
    float: left;
    width: 90px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dt i {
    text-align: center;
    color: #606060;
    width: 25px;
}

.dl-horizontal dd {
    margin-left: 110px;
}

.omega {
    margin: 10px 0 0 20px;
}

/* List Styles
------------------------------------- */
.list-address li {
	list-style: none;
	margin: 7px 0;
	margin-left: 2px;
}

.list-address li:first-child {
	margin-top: 0;
}

.list-address li:before {
	content: "";
	font-family: "FontAwesome";
	margin: 0 7px 0 0;
	position: relative;
	color: #a0a0a0;
}

.list-address.color li:before {
	color: #3ACF87;
}

.list-address li:before { content: ""; }


/* Popup */
#review-dialog {
	background: #fff;
	padding: 30px 40px 35px 40px;
	text-align: left;
	max-width: 800px;
	margin: 40px auto;
	position: relative;
}

#review-dialog h3 {
	margin-bottom: 20px;
}

#review-dialog span.line {padding-top: 7px;}

.products-fix img {
    width: 220px;
    height: 262px;
}

.cover_img_small {
    display: inline-block;
    float: left;
    padding: 0px;
    width: 55px;
    height: auto;
    margin: 0px 15px 0px 0px;
    transition: all 0.2s ease-in-out 0s;
}