<include file="common:header" />
<title>用户列表</title>
<include file="common:top" />

<div class="container-fluid">
  <div class="row">
    <include file="common:left" />
    <div class="col-sm-9 col-md-10 main">

      <table class="table table-striped">
        <tr>
          <th>用户编号</th>
          <th>用户名称</th>
          <th>电子邮件</th>
          <th>手机</th>
          <th>上次登录IP</th>
          <th>上次登录时间</th>
          <th>角色</th>
          <th>当前状态</th>
        </tr>
        <foreach name="ulist" item="u">
        <tr>
          <td>{$u.auid}</td>
          <td>{$u.username}</td>
          <td>{$u.email}</td>
          <td>{$u.mobile}</td>
          <td>{$u.last_login_ip}</td>
          <td>{$u.last_login_time|date="Y-m-d H:i:s", ###}</td>
          <td>
            <foreach name="u.role" item="r">
            {$r['remark']}
            </foreach>
          </td>
          <td>
            <if condition="$u['status'] eq 1">
            开启
            <else />
            关闭
            </if>
          </td>
        </tr>
        </foreach>
      </table>
      {$pages}
    </div>

  </div>
</div>
<include file="common:footer" />
