        <div class="col-sm-3 col-md-2 left-side">
          <dl>
            <dt><span class="glyphicon glyphicon-user"></span> 用户管理</dt>
            <dd><a href="{:U('User/newUser')}">新添用户</a></dd>
            <dd><a href="{:U('User/userList')}">用户列表</a></dd>
            <dt><span class="glyphicon glyphicon-cog"></span> RBAC控制</dt>
            <dd><a href="{:U('Rbac/roleList')}">角色列表</a></dd>
            <dd><a href="{:U('Rbac/nodeList')}">结点列表</a></dd>
            <dt><span class="glyphicon glyphicon-book"></span> 图书管理</dt>
            <dd><a href="{:U('Book/newBook')}">新加图书</a></dd>
            <dd><a href="{:U('Book/bookList')}">图书列表</a></dd>
            <dt><span class="glyphicon glyphicon-send"></span> 订单管理</dt>
            <dd><a href="{:U('Order/orderList')}">订单列表</a></dd>
            <dt><span class="glyphicon glyphicon-comment"></span> 评论管理</dt>
            <dd><a href="{:U('Review/reviewList')}">评论列表</a></dd>
          </dl>
        </div>
