<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">

    <block name="title"><title>爱读书店</title></block>
    <block name="description"><meta name="description" content=""></block>
    <block name="keywords"><meta name="keywords" content=""></block>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/colors/green.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.useso.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <block name="stylesheet"></block>

  </head>
  <body class="boxed">
    <div id="wrapper">
      <include file="Common:top-bar" />

      <div class="clearfix"></div>

      <!-- Header -->
      <include file="Common:header" />
      <!-- Navigation -->
      <include file="Common:navigation" />

      <block name="breadcrumbs"></block>
      <block name="main-content"></block>

      <!-- Footer -->
      <include file="Common:footer" />
      <!-- Back To Top Button -->
      <div id="backtotop"><a href="index.html#"></a></div>

    </div>


    <!-- Java Script -->
    <script src="__PUB_JS__/jquery.min.js"></script>
<script src="__PUB_JS__/jquery-migrate.min.js"></script>
<script src="__PUB_JS__/jquery.jpanelmenu.js"></script>
<script src="__PUB_JS__/jquery.themepunch.plugins.min.js"></script>
<script src="__PUB_JS__/jquery.themepunch.revolution.min.js"></script>
<script src="__PUB_JS__/jquery.themepunch.showbizpro.min.js"></script>
<script src="__PUB_JS__/jquery.magnific-popup.min.js"></script>
<script src="__JS__/hoverIntent.js"></script>
<script src="__JS__/superfish.js"></script>
<script src="__PUB_JS__/jquery.pureparallax.js"></script>
<script src="__PUB_JS__/jquery.pricefilter.js"></script>
<script src="__PUB_JS__/jquery.selectric.min.js"></script>
<script src="__PUB_JS__/jquery.royalslider.min.js"></script>
<script src="__JS__/SelectBox.js"></script>
<script src="__JS__/modernizr.custom.js"></script>
<script src="__JS__/waypoints.min.js"></script>
<script src="__PUB_JS__/jquery.flexslider-min.js"></script>
<script src="__PUB_JS__/jquery.counterup.min.js"></script>
<script src="__PUB_JS__/jquery.tooltips.min.js"></script>
<script src="__PUB_JS__/jquery.isotope.min.js"></script>
<script src="__JS__/puregrid.js"></script>
<script src="__JS__/stacktable.js"></script>
<script src="__JS__/custom.js"></script>


    <block name="javascript"></block>

   </body>
</html>
