        <a href="#">店长推荐</a>
        <div class="mega">
          <div class="mega-container">
<!-- 
            <div class="one-column">
              <ul>
                <li><span class="mega-headline">本周热卖</span></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="404-page.html">404 Page</a></li>
              </ul>
            </div>


            <div class="one-column">
              <ul>
                <li><span class="mega-headline">本月热卖</span></li>
                <li><a href="index-2.html">Business Homepage</a></li>
                <li><a href="shop-with-sidebar.html">Default Shop</a></li>
                <li><a href="blog-masonry.html">Masonry Blog</a></li>
                <li><a href="variable-product-page.html">Variable Product</a></li>
                <li><a href="portfolio-dynamic-grid.html">Dynamic Grid</a></li>
              </ul>
            </div>
-->
            <div class="one-fourth-column hidden-on-mobile">
              <ul>
                <li><span class="mega-headline">特别推荐</span></li>
                <li><p>PHP专家经典力作的最新版本。书中主要介绍了如何使用面向对象技术和设计模式编写稳定的、可维护的代 码，如何使用Subversion管理多个开发人员，如何使用Phing和PEA</p></li>
              </ul>

              <a href="/index.php?s=/Home/Product/detail/bid/2.html" class="img-caption margin-reset">
                <figure>
                  <img src="/Public/Book_img/2/main.jpg" alt="" />
                  <figcaption>
                  <h3>PHP经典</h3>
                  <span>深入PHP:面向对象、模式与实践(第3版)</span>
                  </figcaption>
                </figure>
              </a>
            </div>


            <div class="one-fourth-column hidden-on-mobile">
              <ul>
                <li><span class="mega-headline">特别推荐</span></li>
                <li><p>力求理论与实践的精确平衡，且布满无价之宝，有时甚至超越MySQL舞台，完全适用于任一数据库。其中第二章“MySQL基准测试”及第3章“服务器性能剖析”是非常必要的基础，推荐提前阅读。</p></li>
              </ul>

              <a href="/index.php?s=/Home/Product/detail/bid/1.html" class="img-caption margin-reset">
                <figure>
                  <img src="/Public/Book_img/1/main.jpg" alt="" />
                  <figcaption>
                  <h3>MySQL经典</h3>
                  <span>高性能MySQL(第3版) </span>
                  </figcaption>
                </figure>
              </a>
            </div>


            <div class="one-fourth-column hidden-on-mobile">
              <ul>
                <li><span class="mega-headline">特别推荐</span></li>
                <li><p> 在整本书中，你将会发现深入的Java代码示例，这些代码示例可以直接使用，它们均源自于已经成功地构建和部署的应用程序。</p></li>
              </ul>

              <a href="/index.php?s=/Home/Product/detail/bid/4.html" class="img-caption margin-reset">
                <figure>
                  <img src="/Public/Book_img/4/main.jpg" alt="" />
                  <figcaption>
                  <h3>Hadoop经典</h3>
                  <span>Hadoop高级编程:构建与实现大数据解决方案</span>
                  </figcaption>
                </figure>
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
