<div id="footer">
  <!-- Container -->
  <div class="container">

    <div class="four columns">
      <img src="__IMG__/logo-footer.png" alt="" class="margin-top-10"/>
      <p class="margin-top-15">Nulla facilisis feugiat magna, ut molestie metus hendrerit vitae. Vivamus tristique lectus at varius rutrum. Integer lobortis mauris non consectetur eleifend.</p>
    </div>

    <div class="four columns">

      <!-- Headline -->
      <h3 class="headline footer">Customer Service</h3>
      <span class="line"></span>
      <div class="clearfix"></div>

      <ul class="footer-links">
        <li><a href="index.html#">Order Status</a></li>
        <li><a href="index.html#">Payment Methods</a></li>
        <li><a href="index.html#">Delivery & Returns</a></li>
        <li><a href="index.html#">Privacy Policy</a></li>
        <li><a href="index.html#">Terms & Conditions</a></li>
      </ul>

    </div>

    <div class="four columns">

      <!-- Headline -->
      <h3 class="headline footer">My Account</h3>
      <span class="line"></span>
      <div class="clearfix"></div>

      <ul class="footer-links">
        <li><a href="index.html#">My Account</a></li>
        <li><a href="index.html#">Order History</a></li>
        <li><a href="index.html#">Wish List</a></li>
      </ul>

    </div>

    <div class="four columns">

      <!-- Headline -->
      <h3 class="headline footer">Newsletter</h3>
      <span class="line"></span>
      <div class="clearfix"></div>
      <p>Sign up to receive email updates on new product announcements, gift ideas, special promotions, sales and more.</p>

      <form action="index.html#" method="get">
        <button class="newsletter-btn" type="submit">Join</button>
        <input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
      </form>
    </div>

  </div>
  <!-- Container / End -->
</div>
<!-- Footer / End -->

<!-- Footer Bottom -->
<div id="footer-bottom">
  <!-- Container -->
  <div class="container">

    <div class="eight columns">© Copyleft 2014 by <a href="{:U('About/index')}">Zhigang Song</a>. 欢迎扩散.</div>
    <div class="eight columns">
      <ul class="payment-icons">
        <li><img src="__IMG__/visa.png" alt="" /></li>
        <li><img src="__IMG__/mastercard.png" alt="" /></li>
        <li><img src="__IMG__/skrill.png" alt="" /></li>
        <li><img src="__IMG__/moneybookers.png" alt="" /></li>
        <li><img src="__IMG__/paypal.png" alt="" /></li>
      </ul>
    </div>

  </div>
  <!-- Container / End -->
</div>
<!-- Footer Bottom / End -->
