<div class="container">
  <div class="sixteen columns">

    <!-- 手机等比较小的屏幕上显示的目录按钮 -->
    <a href="{:U('Index/index')}#menu" class="menu-trigger"><i class="fa fa-bars"></i> Menu</a>

    <nav id="navigation">
      <ul class="menu" id="responsive">
        <li><a href="{:U('Index/index')}" class="current homepage" id="current">首页</a></li>
        <li><a href="{:U('Category/index')}">商品分类</a></li>

        <li>
        <a href="#">店长推荐</a>
        <div class="mega">
          <div class="mega-container">

            <div class="one-column">
              <ul>
                <li><span class="mega-headline">本周热卖</span></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="404-page.html">404 Page</a></li>
              </ul>
            </div>

            <div class="one-column">
              <ul>
                <li><span class="mega-headline">本月热卖</span></li>
                <li><a href="index-2.html">Business Homepage</a></li>
                <li><a href="shop-with-sidebar.html">Default Shop</a></li>
                <li><a href="blog-masonry.html">Masonry Blog</a></li>
                <li><a href="variable-product-page.html">Variable Product</a></li>
                <li><a href="portfolio-dynamic-grid.html">Dynamic Grid</a></li>
              </ul>
            </div>

            <div class="one-fourth-column hidden-on-mobile">
              <ul>
                <li><span class="mega-headline">特别推荐</span></li>
                <li><p>This <a href="index.html#">Mega Menu</a> can handle everything. Lists, paragraphs, forms...</p></li>
              </ul>

              <a href="index.html#" class="img-caption margin-reset">
                <figure>
                  <img src="__IMG__/menu-banner-01.jpg" alt="" />
                  <figcaption>
                  <h3>Jeans</h3>
                  <span>Pack for Style</span>
                  </figcaption>
                </figure>
              </a>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
        </li>
        
        
        <li><a href="{:U('Account/index')}">用户中心</a></li>
        <li><a href="{:U('Feedback/index')}">用户反馈</a></li>
        <li><a href="{:U('Feedback/aboutUs')}">关于我们</a></li>
        
      </ul>
    </nav>
  </div>
</div>
