<div class="container">
  <div class="sixteen columns">

    <!-- 手机等比较小的屏幕上显示的目录按钮 -->
    <a href="{:U('Index/index')}#menu" class="menu-trigger"><i class="fa fa-bars"></i> Menu</a>

    <nav id="navigation">
      <ul class="menu" id="responsive">
        <li><a href="{:U('Index/index')}" class="current homepage" id="current">首页</a></li>
        <li><a href="{:U('Category/index')}">商品分类</a></li>

        <li>
        <include file="Common:best-sale" />
        </li>
        
        
        <li><a href="{:U('Account/index')}">用户中心</a></li>
        <li><a href="{:U('Feedback/index')}">用户反馈</a></li>
        <li><a href="{:U('Feedback/aboutUs')}">关于我们</a></li>
        
      </ul>
    </nav>
  </div>
</div>
