<div class="twelve columns">

  <div id="cart">

    <!-- Button -->
    <div class="cart-btn">
      <a href="{:U('Cart/index')}" class="button adc">$178.00</a>
    </div>

    <div class="cart-list">

      <div class="arrow"></div>

      <div class="cart-amount">
        <span>2 items in the shopping cart</span>
      </div>

      <ul>
        <li>
        <a href="index.html#"><img src="__IMG__/small_product_list_08.jpg" alt="" /></a>
        <a href="index.html#">Converse All Star Trainers</a>
        <span>1 x $79.00</span>
        <div class="clearfix"></div>
        </li>

        <li>
        <a href="index.html#"><img src="__IMG__/small_product_list_09.jpg" alt="" /></a>
        <a href="index.html#">Tommy Hilfiger <br /> Shirt Beat</a>
        <span>1 x $99.00</span>
        <div class="clearfix"></div>
        </li>
      </ul>

      <div class="cart-buttons button">
        <a href="{:U('Cart/index')}" class="view-cart" ><span data-hover="View Cart"><span>查看购物车</span></span></a>
        <a href="{:U('Cart/checkout')}" class="checkout"><span data-hover="Checkout">结算</span></a>
      </div>
      <div class="clearfix">

      </div>
    </div>

  </div>

  <!-- Search -->
  <nav class="top-search">
    <form action="index.html#" method="get">
      <button><i class="fa fa-search"></i></button>
      <input class="search-field" type="text" placeholder="Search" value=""/>
    </form>
  </nav>

</div> <!-- /Shopping Cart -->
