<div id="top-bar">
  <div class="container">

    <!-- Top Bar Menu -->
    <div class="ten columns">
      <ul class="top-bar-menu">
        <li><i class="fa fa-phone"></i> (+86) 187 4949 3937</li>
        <li><i class="fa fa-envelope"></i> <a href="mailto:1005411480a@gmail.com">1005411480a@gmail.com</a></li>
        <!-- 多语言支持, 暂时不开启
        <li>
        <div class="top-bar-dropdown">
          <span>English</span>
          <ul class="options">
            <li><div class="arrow"></div></li>
            <li><a href="index.html#">English</a></li>
            <li><a href="index.html#">Polish</a></li>
            <li><a href="index.html#">Deutsch</a></li>
          </ul>
        </div>
        </li>
        <li>
        <div class="top-bar-dropdown">
          <span>USD</span>
          <ul class="options">
            <li><div class="arrow"></div></li>
            <li><a href="index.html#">USD</a></li>
            <li><a href="index.html#">PLN</a></li>
            <li><a href="index.html#">EUR</a></li>
          </ul>
        </div>
        </li> -->
      </ul>
    </div> <!-- /Top Bar Menu -->

    <!-- Social Icons -->
    <div class="six columns">
      <ul class="social-icons">
        <li><a class="facebook" href="index.html#"><i class="icon-facebook"></i></a></li>
        <li><a class="twitter" href="index.html#"><i class="icon-twitter"></i></a></li>
        <li><a class="dribbble" href="index.html#"><i class="icon-dribbble"></i></a></li>
        <li><a class="gplus" href="index.html#"><i class="icon-gplus"></i></a></li>
        <li><a class="pinterest" href="index.html#"><i class="icon-pinterest"></i></a></li>
      </ul>
    </div> <!-- /Social Icons -->

  </div>
</div> <!-- /Top Bar -->
